* {
  margin: 0;
  padding: 0;
}
body {
  background: rgb(1, 155, 1);
  margin: 0;
  font-family: 'Lexend Exa', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
